

ul {
  margin: 16px 0;
}
li {
  list-style-type: none;
}
col {
  text-align: left;
}
.temperatre {
  font-size: 32px;
  font-weight: 600;
}
.forecast-day {
  font-weight: 600;
}
.list-cities li {
  display: inline;
  padding: 8px 12px;
}
.daily-forecast li {
  text-decoration: none;
}
.city-name {
  font-size: 40px;
}
.weather-app {
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 24px;
  margin: 0 24px;
  width: 60%;
  font-size: 18px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
